# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.SHClone.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Afonso\SHClone\.idea\.idea.SHClone\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
